@font-face {
    font-family: delicious;
    src: url(../fonts/FontinSans/Fontin_Sans_R_45b.otf) format("opentype");;
}

@font-face {
    font-family: delicious_bold;
    weight: bold;
    src: url(../fonts/FontinSans/Fontin_Sans_B_45b.otf) format("opentype");
}

@font-face {
    font-family: delicious;
    src: url(../fonts/Delicious/Delicious-Roman.otf) format("opentype");;
}

@font-face {
    font-family: delicious_bold;
    weight: bold;
    src: url(../fonts/Delicious/Delicious-Bold.otf) format("opentype");
}

::selection {
    text-shadow: none;
    color: white;
    background: #2c3e50;
}

html, body{
	height: 100%;
	width:100%;
	margin: 0px;
	padding: 0px;
}

a:link {
	text-decoration: none;
    color: black;
}

.divider_text {
	font-size: 34px;
	text-align: center;
	margin-top:60px;
	font-family: delicious_bold;
}

.menu {
	background-color: #fff;
	float: left;
	width: 30%;
	height:100%;
	display: block;
	margin: 0px;
	position: fixed;
    border-right: 1px solid black;
}

.back_button {
	font-size: 2.2em;
	text-align: center;
	margin-top: 40px;
	font-family: delicious;
}

.menu_body{
	margin: 20px;
	margin-top: 20px;
}

.menu_links{
	list-style: none;
	margin-top: 20px;
   	padding-left: 1em;
   	text-indent: -1em;
	font-size: 2em;
	font-size: 2vw;
	font-family: delicious;
}

.menu_links li:hover {
	color: #2c3e50;
}

.profile_picture img {
	display:block;
        min-width: 32px;
        min-height: 32px;
	max-width: 200px;
        max-height: 200px;
	margin: 0 auto;
}

.profile_picture img {
	background-position: 50% 50%;
        background-repeat: no-repeat;
        border-radius: 50%;
	width: 100%;
	height: 100%;
}


.profile_name {
	font-size:3em;
	font-size: 3vw;
	text-align: center;
	font-weight: bold;
	font-family: delicious_bold;
}

.profile_description {
	font-family: arial;
	font-size:1em;
	font-size: 1vw;
	text-align: center;
	font-family: delicious;
}

.blog {
	overflow: auto;
	margin-left: 30%;
	width: 70%;
	height: 100%;
}

.top_share {
	left: 30%;
	width: 68%;
	height: auto;
	border: 0px solid black;
	position: fixed;
	background-color: #fff;
	text-align: center;
	display: none;
}

.top_share_text {
	font-size: 1.2em;
}

.article_title {
	font-size: 44px;
	font-weight: bold;
	margin: 20px;
	height: auto;
	font-family: delicious_bold;
}

.article_title a {
    color: black;
}

.article_title a:hover {
    text-decoration: underline;
}

.article_stats {
	float: right;
	width: 200px;
	height: 100%;
	font-size: 14px;
	font-family: delicious_bold;
}

.article_stats_like {
	display: inline-block;
	float: left;
	width: 33%;
	padding-top: 10px;
	height:100%;
	background-color: transparent;
}

.article_stats_comment {
	display: inline-block;
	width: 33%;
	padding-top: 10px;
	height:100%;
	background-color: transparent;
}

.article_stats_date {
	display: inline-block;
	float: right;
	width: 33%;
	padding-top: 10px;
	height:100%;
	background-color: transparent;
}

.read_more {
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 40px;
    	font-family: delicious_bold;
}

.read_more a {
    color: black;
}

.read_more a:hover {
    text-decoration: underline;
}

.article_body {
	font-family: delicious;
	font-size: 18px;
	margin: 20px;
	margin-bottom: 0;
}

.bot_share {
	width: 90%;
	height: auto;
	border: 0px solid black;
	margin: 0 auto;
	margin-top: 60px;
	background-color: #fff;
	text-align: center;
	font-size: 2.5em;
	font-family: delicious_bold;
}

.share_button {
	display: inline-block;
	max-width: 64px;
	max-height: 64px;
	min-width: 32px;
	min-height: 32px;
	width: 20%;
	height: 35%;
	margin-top: 20px;
}

.share_button_top {
	display: inline-block;
	max-width: 32px;
	max-height: 32px;
	min-width: 16px;
	min-height: 16px;
	width: 20%;
	height: 35%;
	margin-top: 5px;
}

.share_button img {
	width: 100%;
	height: 100%;
}

.share_button_top img {
	width: 100%;
	height: 100%;
}

.comments {
	margin-top: 20px;
	margin-left: 50px;
}

.comment {
	margin-top: 20px;
	margin-left: 50px;
	width: 70%;
}

.response_comment {
	margin-top: 10px;
	margin-left: 150px;
	width: 65%;
}

.comment_picture {
	float:left;
        width: 100px;
	margin-right: 20px;
}

.comment_picture img {
	background-position: 50% 50%;
        background-repeat: no-repeat;
        border-radius: 50%;
        width: 100px;
        height: 100px;
}

.comment_info {
	display: inline;
}

.comment_name {
	height: auto;
	font-size: 24px;
	font-family: delicious_bold;
}

.comment_text {
	font-family: delicious;
	margin-top: 2px;
	font-size: 14px;
}

.comment_date {
	font-size: .75em;
	font-family: delicious_bold;
}

.comment_functionalities {
	margin-top: 5px;
	font-size: 1.25em;
	color: #2c3e50;
	font-family: delicious_bold;
}

.comment_box {
	font-size: .75em;
	width: 60%;
	margin: 0 auto;
	margin-top: 20px;
	font-family: delicious;
}

.comment_input {
	font-family: arial;
	width: 100%;
	height: 150px;
	font-size: 2em;
}

.new_comment_name {
	font-family: arial;
	width: 100%;
	height: auto;
	font-size: 2em;
	display: none;
}

.new_comment_email {
	font-family: arial;
	width: 100%;
	height: 50px;
	font-size: 2em;
	margin-top: 4px;
	display: none;
}

.comment_submit_buttons {
	margin-top: 20px;
	width: 100%;
	height: auto;
	text-align: center;
	overflow: hidden;
}

.comment_submit_buttons_facebook {
	display: inline-block;
	width: 20%;
	min-width: 64px;
}

.send_email_comment_button {
	display: inline-block;
	width: 20%;
	min-width: 64px;
	display:none;
}

.facebook_submit {
}

.comment_submit_buttons span {
}