<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eduardo Alves - Entrepreneurship Blog</title>
    <!-- Bootstrap -->
    {% load staticfiles %}
    {% load jsonify %}
    <link href=" {% static "css/index.css" %}" rel="stylesheet">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="http://documentcloud.github.io/backbone/backbone-min.js"></script>
    <script src="{%  static "js/models.js" %}"></script>
    <script type="text/javascript">
    </script>
    <script type="text/javascript">
        var post_array = {{post_objs|jsonify}};
    </script>
  </head>
  <body>  
<div class="menu">
<div class="back_button" style="visibility:hidden"> <span>Back</span> </div>
<div class="menu_body">
	<div class="profile_picture"> <img src=" {% static "img/profile_pic.png" %}" /> 		<div class="profile_name">Eduardo Alves</div>
	<div class="profile_description">Developer.Entrepreneur.Hustler</div>
<ul class="menu_links">
  <li>About</li>
  <li>Contact</li>
  <li>Twitter</li>
  <li>Betapp</li>
</ul>
</div>
</div>
</div>
<div class="blog" id="blog">
    <div class="top_share"> 
	<div class="top_share_text">Help your friends learn how to hire a designer, share this article!</div>
		<div class="share_button_top"> <img src=" {% static "img/facebook-share-black.png" %}" onmouseover="this.src=' {% static "img/facebook-share-black.png" %}';"onmouseout="this.src=' {% static 'img/facebook-share-black.png' %}';"/> </div>
		<div class="share_button_top"> <img src= " {% static "img/twitter-share-black.png" %}" onmouseover="this.src='img/twitter-share.png';"onmouseout="this.src='img/twitter-share-black.png';"/> </div>
		<div class="share_button_top"> <img src=" {% static "img/gplus-share-black.png" %}" onmouseover="this.src='img/gplus-share.png';"onmouseout="this.src='img/gplus-share-black.png';"/> </div>
		<div class="share_button_top"> <img src=" {% static "img/hn-share-black.png" %}" onmouseover="this.src='img/hn-share.png';"onmouseout="this.src='img/hn-share-black.png';"/> </div>
</div>

    <div id="posts-container"></div>

    <script type="text/template" id="post-template">

 <div class="article_title"> <a href="<%= url %>"> <%= title %> </a>
    <div class="article_stats">
    <div class="article_stats_like">
    <div class="article_stats_like_number"> <%= shares %> </div>
    <div class="article_stats_like_text"> Shares </div>
    </div>
    <div class="article_stats_date">
    <div class="article_stats_date_day"> <%= date.day %>th </div>
    <div class="article_stats_date_month"> <%= date.month %> </div>
    </div>
    </div>
    </div>

    <div class="article_body"> <%= text %></div>

<div class="read_more"> <a href="<%= url %>">Read More</a></div>

</script>

<script src=" {%  static "js/views.js" %}"></script>

<script >
    var counter;
    for (counter = 0; counter<post_array.length; counter++){
        posts.add(post_array[counter]);
    }

</script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</div>
  </body>
</html>